{{- $name := lower . -}}
{{- $icons := dict 
  "twitter" (dict "icon" "x" "alt" "X (Twitter)" "display" "X (Twitter)")
  "github" (dict "icon" "github" "alt" "GitHub" "display" "GitHub")
  "linkedin" (dict "icon" "linkedin" "alt" "LinkedIn" "display" "LinkedIn")
  "instagram" (dict "icon" "instagram" "alt" "Instagram" "display" "Instagram")
  "youtube" (dict "icon" "youtube" "alt" "YouTube" "display" "YouTube")
  "bluesky" (dict "icon" "bluesky" "alt" "Bluesky" "display" "Bluesky")
  "threads" (dict "icon" "threads" "alt" "Threads" "display" "Threads")
  "mastodon" (dict "icon" "mastodon" "alt" "Mastodon" "display" "Mastodon")
  "email" (dict "icon" "gmail" "alt" "Email" "display" "Email")
  "rss" (dict "icon" "rss" "alt" "RSS" "display" "RSS")
-}}
{{- if index $icons $name -}}
  {{- $iconData := index $icons $name -}}
  <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/{{ $iconData.icon }}.svg" alt="{{ $iconData.alt }}" width="20" height="20" style="filter: brightness(0) saturate(100%) invert(var(--icon-invert, 0));">
{{- else -}}
  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/>
    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>
  </svg>
{{- end -}}